# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: bmoulin <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/12/07 04:21:02 by bmoulin           #+#    #+#              #
#    Updated: 2020/12/07 04:21:54 by bmoulin          ###   ########lyon.fr    #
#                                                                              #
# **************************************************************************** #

*.DS_Store
*.out
*.o
*.a
/tripouille/
